@model UnobtrusiveAjax.Models.Appointment

@{
    ViewBag.Title = "New Appointment";

    //Html.EnableUnobtrusiveJavaScript(false);
}

@section Scripts
{
    <script type="text/javascript">

        $(function () {
            $('form').submit(function (event) {
                event.preventDefault();

                var appointment = {
                    ClientName: $('#ClientName').val(),
                    Date: $('#Date').val(),
                    TermsAccepted: $('#TermsAccepted').is(':checked')
                };

                $.ajax({
                    url: '@Url.Action("CreateNew")',
                    type: 'POST',
                    data: JSON.stringify(appointment),
                    dataType: 'json',
                    processData: false,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $('#clienttarget').text(data.ClientName);
                        $('#datetarget').text(data.Date);
                        $('#termstarget').text(data.TermsAccepted);

                        $('#results').show();
                    }
                });
            });
        });

    </script>
}

<h2>Create Appointment</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()

    <input type="submit" value="Submit" />
}

<br /><br />
<div id="results" style="display: none;">
    Here is the appointment you created:

    <p>Client Name: <span id="clienttarget" /></p>
    <p>Date: <span id="datetarget" /></p>
    <p>Terms Accepted: <span id="termstarget" /></p>
</div>
