@model ModelBinding.Models.Person

@{
    ViewBag.Title = "Edit Person";
}

<h2>Person</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()

    @Html.EditorFor(m => m.HomeAddress)

    @*@Html.EditorFor(m => m.HomeAddress.Line1)*@

    <input type="submit" value="Submit" />
}
