[Dd]ebug/
[Rr]elease/
[Oo]bj/
[Bb]in/
_bin_deployableAssemblies/
packages/
TestResults/
.gitk
*.suo
*.sln.cache
*.vssscc
*.vspscc
*.vskdb
*.vsksln
*.vsmdi
*.rdl.data
*.user
Visual Studio*/
*.stackdump
*~
