@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HeaderFooterLayout.cshtml";
}

<h4>This is the view</h4>

@section Header
{
    @foreach (string s in new[] { "Home", "List", "Edit" })
    {
        <div style="float: left; padding: 5px">
            @Html.ActionLink(s, s)
        </div>
    }

    <div style="clear: both" />
}

<h4>This is the view between the header and footer sections</h4>

@section Footer
{
<h4>This is the footer</h4>
}

<h4>This is the view again</h4>
