@model ModelValdation.Models.Appointment3

@{
    ViewBag.Title = "Confirmed (3)";
}

<h3>Your appointment is confirmed.</h3>

<p>Your name is: @Model.ClientName</p>

<p>The date of your appointment is: @Model.Date.ToShortDateString()</p>
