@model ModelValdation.Models.Appointment

@{
    ViewBag.Title = "Confirmed";
}

<h3>Your appointment is confirmed.</h3>

<p>Your name is: @Model.ClientName</p>

<p>The date of your appointment is: @Model.Date.ToShortDateString()</p>
