@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

<p>
    @Html.ActionLink("Admin area", "Index", new { area = "Admin" })
    @Html.ActionLink("Support area", "Index", new { area = "Support" })
</p>